/* GENERAL SETUP  */
*{
    box-sizing: border-box;
    margin: 0px;

    /* Testing Mode  */
    /* border: 1px dashed orange; */
}
body{
    font-family: "Whitney", sans-serif;
    font-size: large;
}
a{
    color: white;
    text-decoration: none;
}
.link-list, .map-section ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* COMMON  */
.button{
    padding: 0.3em 1.2em;
    border-radius: 28px;
}
.button.white{
    background-color: white;
    color: black;
}
.button.blue{
    background-color:#5865f2;
    color: white;
}
.button.dark{
    background-color: #2c2f33;
    color: white;
}

/* HEADER  */
header{
    height: 626px;
    text-align: center;

    color: white;

    background-color: #255ee9;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

#top-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding: 0 15%;
    height: 5em;
}
#top-nav ul{   /* Central Links */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
}

#firstLook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100% - 5em);
    font-size: x-large;
}
#firstLook p{
    min-width: 400px;
    width: 50%;
    max-width: 950px;

    margin-bottom: 1em;
}
#firstLook div{  /* "Download" & "Open Discord" Links */
    height: 2em;
    line-height: 2em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#firstLook .button{
    margin: 10px;
}

/* MAIN  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: xx-large;
    padding: 0 0 3em;
    background-color: rgb(236, 236, 240);
}

.feature{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
    padding: 3em 15%;
    width: 100%;

    background-color: white;
}
.feature.reverse{
    flex-direction: row-reverse;
    background-color: rgb(236, 236, 240);
}
.feature.column{
    flex-direction: column-reverse;
    text-align: center;
    background-color: rgb(236, 236, 240);

    padding: 3em 5%;
}
.feature img{

    max-width: 90vw;
    /* DEBUG (placeholders) */
    max-height: 60vh;
}
.feature section{
    flex: 1 0 40%;
    max-width: 500px;

    padding: 1.5em;
}
.feature section h2{
    margin-bottom: 1em;
}
.feature section p{
    color: gray;
}
.feature.column section{
    max-width: 1000px;
}

/* FOOTER  */
footer{
    background-color: rgb(18, 19, 26);

    font-size: x-large;
    color: white;
    padding: 70px 15%;
}

/* ContactUs */
footer > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin-bottom: 1.5em;
}
#contact-us{
    flex: 0 1 20%;
    margin-right: 1em;
}
#contact-us h3{
    color: #5865f2;
    font-family: 'Whitney', sans-serif;
    font-weight: 900;

    margin-bottom: 1em;
}
#contact-us img{
    height: 0.6em;
    vertical-align: middle;
}
#contact-us select{
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
    appearance: none;

    margin-bottom: 2em;
}
#contact-us select option{
    background-color: white;
    color: black;
}
#contact-us i{
    font-size: xx-large;
    height: 2em;
    width: 2em;
}

/* Site Map  */
#site-map{
    flex: 0 1 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: large;
    font-family: 'Whitney Light', sans-serif;
}
.map-section, .map-section *{   /* Spacing between list items & between map sections */
    margin-bottom: 1em;
}
.map-section h4{
    font-size: x-large;
    color: #5865f2;
}

/* Divider  */
footer hr{
    border: none;
    border-top: 1px solid #5865f2;

    margin-bottom: 1.5em;
}

/* Credits */
footer > div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}